body {
	margin: 0px;
}
li {
	list-style: none;
}
.l {
	float: left;
}
.r {
	float: right;
}
.g-index {
	padding: 20px 20px;
	font-weight: bold;
}
.m-hd {
	margin:30px auto;
	width: 830px;
}
.hd-lt {
	background: url("../img/img1.png") no-repeat;
	width: 400px;
	height: 253px;
	margin-right: 30px;
}
.hd-rt {
	width: 400px;
}
.clear {
	clear: both;
}
.hd-rt-top {
	padding: 10px 0px;
	font-size: 24px;
}
.hd-rt-me {
	padding: 22px 0px;
}
.hd-rt>button {
	width: 160px;
    height: 33px;
    border: 2px solid #0169b2;
    border-radius: 4px;
    background-color: #0169b2;
}
.hme-item {
	padding: 0px 5px;
	color: white;
	font-size: 15px;
	font-weight: bold;
}
.m-bd {
	margin:auto;
	width: 830px;
}
.bd-top {
	height: 45px;
	border-bottom: 2px solid #dddddd;
}
.bt-st1 {
	height: 30px;
	color: #0c6dcc;
	font-size: 20px;
	padding-right: 10px;
	
}
.bt-st2 {
	margin-top: 5px;
	height: 20px;
	padding-left: 10px;
	letter-spacing: 2px;
	border-left: 4px solid #0c6dcc;
}
.bd-top>button {
	width: 122px;
    height: 23px;
    border: 2px solid #0169b2;
    border-radius: 4px;
    background-color: #0169b2;
}
.bt-item {
	padding: 0px 5px;
	color: white;
	font-size: 15px;
	font-weight: bold;
}
.m-bd>li {
	font-size: 13px;
	padding: 30px 0px;
	border-bottom: 2px solid #dddddd;
}
.m-bd>li>button {
	width: 85px;
	height: 25px;
	margin: 0px 10px 0px 30px;
	border: 0px;
	border-radius: 20px;
	color: white;
}
.m-ft {
	background-color: #f8f8f8;
	margin: 0px auto;
	padding: 0px 50px;
	width: 1000px;
}
.ft {
	width: 500px;
	margin: auto;
	height: 300px;
	padding-bottom: 20px; 
}
.ft-ti {
	margin: 10px 25px;
	color: #063e89;
	padding: 0px 10px;
	border-left: 4px solid #085599;
	font-size: 17px;
}
.ft-me {
	margin: 0px auto;
	background: white;
	height: 250px;
	width: 450px;
	text-align: center;
	letter-spacing: 1px;
}
.ft-me>button {
	margin-top: 50px;
	margin-bottom: 15px;
	height: 60px;
	width: 320px;
	font-size: 25px;
	color: white;
	letter-spacing: 1px;
	background-color: #0169b2;
	border: 0px solid #0169b2;
	border-radius: 4px;
}
.ft-me>button>div {
	margin: 0px 5px;
}
.img {
	background: url("../img/img2.png") no-repeat;
	width: 68px;
	height: 29px;
}
.title {
	font-size: 25px;
	font-weight: bold;
	padding-top: 30px;
}
.phone {
	font-size: 30px;
	font-weight: bold;
	color: #0169b2;
	margin: 10px 0px;
}
.time {
	width: 350px;
	border-top: 2px solid #dddddd;
	margin: 0px auto;
	margin-top: 15px;
	padding-top: 16px;
	font-size: 15px;
	color: #0169b2;
}