@media screen and (max-width: 600px){
	.top {
		margin-top: 10px;
		padding: 13px;
		background: #06c1ae;
		height: 50px;
	}
	.top>span{
		text-align: center;
	}
	.menu {
		height: 100px;
	}
	.m-item {
		height: 100px;
		padding: 40px 30px;
		text-align: center;
	}
	.m-item>div {
		height: 20px;
		width: 20px;
		background: #6cf;
		margin-bottom: 10px;
	}
	.divi {
		height: 20px;
		background-color: #f0efed;
		border: 1px solid #ddd8ce;
	}
	li {
		list-style: none;
		font-weight: bold;
		color: #a5a5a5;
	}
	.a-item{
		padding: 0px;
	}
	.a-item>li {
		font-size: 9px;
	}
	.about-left>.a-item {
		margin: 10px;
	}
	.about-left>.a-item>div {
		height: 60px;
		width: 60px;
		background: #666;
	}
	.about-right>.row>.a-item {
		padding: 10px 40px;
	}
	.about-right>.row>.a-item>div {
		width: 40px;
		height: 40px;
		background: #666;
	}
	.about-right>.row>.a-item:nth-child(1)>div {
		float: right;
		width: 50px;
		height: 50px;
		
	}
	.title {
		height: 30px;
		padding: 10px 20px;
		font-size: 10px;
	}
	.mes-item {
		height: 80px;
		padding: 10px 0px;
		border-top: 1px solid #ddc;
	}
	.mes-item-left>div {
		height: 60px;
		width: 60px;
		background: #666;
	}
	.mes-item-right>li {
		font-size: 10px;
	}
	.mes-item-right>li:nth-child(2) {
		margin-bottom: 0px;
	}
	.yhj {
		padding-top: 10px;
		color: #06c1ae;
		font-size: 10px;
	}
	.sj,.ys {
		margin-top: 13px;
		font-size: 10px;
	}
	.end {
		height: 30px;
		background: #a0c5e8;
		padding-left: 10px;
	}
	.end>span {
		color: #06c1ae;
		font-size: 20px;
	}
}
@media screen and (min-width: 900px){
	.top {
		margin-top: 10px;
		padding: 13px;
		background: #06c1ae;
		height: 50px;
	}
	.top>span{
		text-align: center;
	}
	.menu {
		height: 150px;
	}
	.m-item {
		height: 100px;
		padding: 15px 112px;
		text-align: center;
	}
	.m-item>div {
		height: 70px;
		width: 70px;
		background: #6cf;
		margin-bottom: 20px;
	}
	.divi {
		height: 20px;
		background-color: #f0efed;
		border: 1px solid #ddd8ce;
	}
	li {
		list-style: none;
		font-weight: bold;
		color: #a5a5a5;
	}
	.a-item{
		padding: 20px;
	}
	.a-item>div{
		height: 70px;
		width: 70px;
		background: #666;
		margin: 20px;
	}
	.about-right>.row>.a-item:nth-child(2)>div{
		height: 90px;
		width: 90px;
		background: #666;
		margin: 20px;
	}
	.about-right>.row>.a-item:nth-child(3){
		padding-top: 50px;
		font-size: 20px;
	}
	.title{
		height: 30px;
		padding: 10px 20px;
		font-size: 20px;
	}
	.mes-item {
		height: 130px;
		padding: 10px 0px;
		border-top: 1px solid #ddc;
	}
	.mes-item-left>div{
		height: 110px;
		width: 110px;
		background: #666;
	}
	.mes-item-right>li {
		font-size: 20px;
	}
	.mes-item-right>li:nth-child(2) {
		margin-bottom: 20px;
	}
	.yhj {
		color: #06c1ae;
		font-size: 30px;
	}
	.sj,.ys {
		margin-top: 13px;
	}
	.end {
		height: 30px;
		background: #a0c5e8;
		padding-left: 10px;
	}
	.end>span {
		color: #06c1ae;
		font-size: 20px;
	}
}
