li {
	list-style: none;
	align-items: flex-end;
	display: flex;
	padding: 0px 5px;
}
body {
	background: #f2f2f2;
}
.g-index {
	width: 390px;
	height: 370px;
	margin: auto;
}
.image {
	height: 250px;
	background: #ffffeb;
}
.message {		
	background: #ffe6f4;
	display: flex;
	padding: 10px;
	flex-direction: column;
}
.message>li {
	box-sizing: border-box;
	background: white;
	width: 370px;
	height: 20px;
	font-size: 5px;
}
.message>li+li {
	margin-top: 10px;
}
.price {
	margin-top: 10px;
	display: flex;
	background: white;
}
.price>li {
	display: flex;
	height: 30px;
	font-size: 10px;
}
.price>li:first-child {
	color: red;
	font-size: 20px;
}
.price>li:nth-child(2) {
	text-decoration: line-through;
}
.price>li:last-child {
	justify-self: end;
}
.price>em {
	flex: 1;
}