@charset "UTF-8";
body {
	margin: 0;
}
.bk {
	position: absolute;
	width: 1500;
	height: 725;
	/*background: url('../e01-2.jpg') no-repeat;*/
	opacity: .5;
}
.menu {
	padding: 18px 0px 50px 81px;
	font-size: 16.5px;
	font-weight: bold;
	letter-spacing: -0.1px;
}
.menu-item+.menu-item {
	margin-left: 27px;
}
.main+.main {
	margin-top: 55.5px;
}

.main {
	font-weight: bold;
	color: grey;
}
.main-1 {
	padding: 0px 43px;
	font-size: 16px;
	letter-spacing: -0.1px;
}
.main-title {
	color: black;
	padding:4.7px 0px 8.5px 41px;
	font-size: 24;
	letter-spacing: -0.1px;
}
.main-2 {
	padding:0px 0px 20.5px 43px;
	font-size: 16.5px;
	letter-spacing: -0.24px;
}
.main-name {
	padding: 0px 0px 1px 42px;
	font-size: 16.5px;
	letter-spacing: -1.0px;
}
.main-3 {
	padding:4px 0px 9px 43px;
	font-size: 16px;
	letter-spacing: -0.49px;
}
#a1 {font-size: 24.8px;letter-spacing: -0.8px;}
#b1 {font-size: 25.2px;letter-spacing: -0.6px;}
#m {margin-top: 31px;}
.h {
	margin-top: 40px;
	margin-bottom: 65.5px;
	font-size: 25px;
	letter-spacing: -1.03px;
}
.num {
	color: grey;
	font-size: 29px;
	padding-left: 2px;
	padding-bottom: 128px;
}
.t {
	color: black;
	font-size: 18.2px;
	padding-top: 2.1px;
	letter-spacing: 0.0px;
}
.n {
	color: grey;
	font-size: 17.2px;
	padding-top: 8px;
	letter-spacing: -1.3px;
}
.d {
	color: grey;
	font-size: 17.5px;
	padding-top: 3.5px;
	letter-spacing: -1.225px;
	padding-bottom: 29.5px;
}